rules_version = '2';

service cloud.firestore {
  function isAuthenticated(request) {
    return request.auth != null;
  }

  function canRead(database, request, resource) {
    let usersOwnerUid = request.auth.uid;
    return debug(debug(usersOwnerUid) == debug(resource.data.owner_uid));
  }

  function canCreate(database, request) {
    let usersOwnerUid = request.auth.uid;
    return request.resource.data.owner_uid == usersOwnerUid;
  }

  function canUpdate(database, request, resource) {
    return canRead(database, request, resource);
  }

  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if isAuthenticated(request) && canRead(database, request, resource);
      allow create: if isAuthenticated(request) && canCreate(database, request);
      allow update: if isAuthenticated(request) && canUpdate(database, request, resource);
    }
  }
}
